body
{
  width: 100%;
	margin: 0px auto;
}

nav
{
  width:100%;
  margin-top: 10px;
  background: #000000;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a
{
  text-align:left;
  text-decoration: none;
  display: block;
}

.logo img
{
  width:10%;
}
